* {
    padding: 0px;
    margin: 0px;
}

div.login {
    left: 40%;
    top: 40%;
    position: absolute;
} 

body {
  background-color: #0e0e0e;
}

nav.navbar.navbar-default {
    background-color: #222;
    border: none;
}

.navbar {
    min-height: 46px;
}

.navbar-brand {
    padding: 5px 15px;
    height: 46px;
}

.navbar-brand > img {
    width: 100px;
}

.nav.navbar-nav a {
    padding-top: 13px;
    padding-bottom: 13px;
}

.nav.navbar-nav.navbar-right li > a:hover {
    color: #aaa;
    text-decoration: underline;
}

.nav.navbar-nav.navbar-right li > a:focus {
    color: #afa;
}

.nav.navbar-nav.navbar-right li > a:active {
    color: #afa;
    background-color: #0e0e0e;
}

.container h2 {
    color: #9b9;
}

label {
    color: #888;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content {
  color: #ffffff;
}

#navbar-right, #admin {
  display: none;
}